

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background: darkblue;
  color: white;
  padding: 0;
  margin: 0;
  justify-content: center;

}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: irem;
  padding: 1rem;
}

nav {
  background-color: #333;
  width: 100%;
  box-sizing: border-box; 
}

nav ul {
  list-style: none;
  padding: 0;
  justify-content: center;

}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


.course-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.course-card.completed {
  background-color: #d1f7d6;
}

button {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
}


#menuBtn {
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: darkblue;
  color: white;
  padding: 1rem;
  text-align: center;
}
